{%extends 'bug_tracker/base.html'%}
<!--  -->

{%block content%}
<h1><b><i class="fa fa-bug" aria-hidden="true"></i>
  | SQUISH</b> </h1>
<div class="container">
  <h1>My Profile</h1>
  <!-- Bracket notation in django is for variables -->
  <!-- 'user' is the context and with dot notation we query its fields -->
  <i class="fa fa-user" aria-hidden="true"></i>
 Username:<br><b>{{user.username}}</b>
  <br />
  User: <br><b>{{user.first_name}} {{user.last_name}}</b><hr width=10%  align=left>
  <br />
  Email address: <br><b>{{user.email}}</b>
  <br />
  <a href="{% url 'edit'%}" class="btn btn btn-primary">Edit Profile</a>
</div>

{%endblock%}
