{%extends "bug_tracker/base.html"%}
<!--  -->
{%block content%}
<h1><b><i class="fa fa-bug" aria-hidden="true"></i>
  | SQUISH | </b> Bug Details</h1>

<div class="container blog-post">
  <h2 class="blog-post-title">{{bug.bug_title}}</h2>
  <p class="blog-post-meta">
    {{bug.date}} by {{bug.user.first_name}} {{bug.user.last_name}}
  </p>

  <p>Bug Found In Project : {{bug.project_name}}</p>
  <p>Exception Rose on : {{bug.date_occured}}</p>
  <p>Risk Level : {{bug.bug_risk}}</p>
  <hr />
  <p>{{bug.bug_description}}</p>
</div>

{%if user.is_authenticated%}
<div class="container">
  <a href="{% url 'bug_update' bug.id%}" class="btn btn btn-primary">Update</a>
  <a href="{% url 'bug_delete' bug.id%}" class="btn btn btn-primary">Delete</a>
</div>

{%else%} {%endif%} {%endblock%}
