{%extends 'bug_tracker/base.html'%}
<!--  -->
{%load crispy_forms_tags%} {%block content%}

<!-- Form for searching -->

<br />
<br />
<main class="px-3 text-center">
  <p>

  <div class="container">
    <div class="jumbotron">
      <h1><b><i class="fa fa-bug" aria-hidden="true"></i>
        | SQUISH</b> Your Bugs</h1>
        <p class="lead">The Bug Tracker Serving <b>ALL</b> of Your Needs!</p>

        <hr class="my-4">
        <form method="get">
          <fieldset>
            <legend><i class="fa fa-search" aria-hidden="true"></i> Find A Bug</legend>
            {% csrf_token %}
            <div class="input-group d-flex justify-content-center">
              {{ form|crispy }}
    
              <input
                class="btn btn-primary"
                name="query"
                type="submit"
                value="Search"
              />
            </div>
          </fieldset>
        </form>
        <p>Loooking for a specific bug?</p>
        
    </div>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-plus" aria-hidden="true"></i> Add a Bug</h5>
                    <p class="card-text">Log, then monitor bugs and errors.</p>
                  
                    <a href="{% url 'create_bug'%}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Create New Bugs</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-angle-double-right" aria-hidden="true"></i> View ALL Bugs</h5>
                    <p class="card-text">Track, update and view exsisting bugs.</p>
                    <a href="{% url 'bug_list'%" class="btn btn-primary"><i class="fa fa-angle-double-right" aria-hidden="true"></i> View Bugs</a>
                </div>
            </div>
        </div>
    </div>
</div>
  <p>

{%endblock content%}
