{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>SQUISH Your Bugs!</title>
    <!-- Bootstrap CSS -->
    
      </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{%url 'home'%}"><i class="fa fa-bug" aria-hidden="true"></i> | SQUISH.</a>
        <div class="collapse navbar-collapse" id="navbarsExample07XL">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{%url 'home'%}"> <i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'bug_list'%}">[ <i class="fa fa-bug" aria-hidden="true"></i> bugs. ]</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'about_page'%}">[ <i class="fa fa-question" aria-hidden="true"></i> about. ]</a>
            </li>

            {%if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'profile'%}">[ <i class="fa fa-user" aria-hidden="true"></i> profile. ]</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'logout'%}">[ <i class="fa fa-sign-out" aria-hidden="true"></i> logout. ]</a>
            </li>
            {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'login'%}"> [ <i class="fa fa-sign-in" aria-hidden="true"></i> login. ]</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'register'%}">[ <i class="fa fa-user-plus" aria-hidden="true"></i> register. ]</a>
            </li>
            {%endif%}
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
  </div>
</nav>

    <!-- The other templates extending this page content will go here  -->
    {%block content%} {%endblock%}
    <!-- Bootstrap javascript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <footer class="">
      <div class="container p-3">
        CMSC 495: Capstone <a href="https://github.com/kghudgens">Kevin Hudgens</a>, <a href="https://github.com/informant246">Alexander Winter</a>, <a href="https://github.com/bonicapatterson">Bonica Patterson</a>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
