{%extends 'bug_tracker/base.html'%} {%block content%}
<a href="{%url 'create_bug' %}"><button>Create New Bug</button></a>

<!-- Bug Loop -->
<ul>
  {% for bug in object_list %}
  <h1>Bug</h1>
  <li>{{bug.date}}</li>

  <li>Bug Title : {{bug.bug_title}}</li>
  <li>Bug Risk : {{bug.bug_risk}}</li>
  <li>Project Name : {{bug.project_name}}</li>
  <li>Username : {{bug.user}}</li>
  <li>Date Bug Occured : {{bug.date_occured}}</li>
  <li>Bug Description : {{bug.bug_description|truncatewords:"50"}}</li>

  <a href="{%url 'bug_detail' bug.pk%}"><button>View Bug</button></a>
  {% empty%}
  <p>No bugs to view</p>
  {%endfor%}
</ul>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facilis
similique deleniti nobis, esse vitae quod voluptate nulla. Perferendis officiis
repellendus ipsa. Non quisquam iure quos! Eum autem id sit. {%endblock content%}
