{%extends 'bug_tracker/base.html'%}
<!--  -->
{%load crispy_forms_tags%} {%block content%}

<!-- Form for searching -->

<br />
<br />
<main class="px-3 text-center">
  <h1>Squish your bugs.</h1>
  <p class="lead">The Bug Tracker serving all of your needs.</p>
  <p class="lead">
    {%if user.is_authenticated%}
    <a href="{% url 'create_bug'%}" class="btn btn-lg btn-primary"
      >Create Bug</a
    >
    {% else %}
    <a href="{% url 'login'%}" class="btn btn-lg btn-primary">Log In</a>
    {% endif %}
    <a href="{% url 'bug_list'%}" class="btn btn-lg btn-primary">View Bugs</a>
  </p>

  <br />
  <div class="container">
    <form method="get">
      <fieldset>
        <legend>Find a Bug</legend>
        {% csrf_token %}
        <div class="input-group d-flex justify-content-center">
          {{ form|crispy }}

          <input
            class="btn btn-primary"
            name="query"
            type="submit"
            value="Search"
          />
        </div>
      </fieldset>
    </form>
  </div>
</main>

{%endblock content%}
