{%extends 'bug_tracker/base.html'%}
<!--  -->
{%load crispy_forms_tags%} {%block content%}

<!-- Form for searching -->
<form action="" method="get">
  {% csrf_token %} {{ form|crispy }}
  <input name="query" type="submit" value="Confirm" />
</form>

<br />
<!-- if user is authenticated they are given access tothe new bug functionality -->
{%if user.is_authenticated %}
<a href="{% url 'create_bug' %}"> <button>Create New Bug</button></a>
{%else%}

<p><a href="{% url 'login' %}">Log in </a>to create new bugs</p>
{%endif%}
<!--  -->

<h1>Welcome to the Bug Tracker</h1>

<h2>The Capstone Project for CMSC 495</h2>

{%endblock content%}
